[submodule "build"]
	path = build
	url = git@github.com:abernier/js-common-build.git
[submodule "test/qunit"]
	path = test/qunit
	url = https://github.com/jquery/qunit.git
[submodule "test/simulate"]
	path = test/simulate
	url = https://github.com/eduardolundgren/jquery-simulate.git
